
      <div id="div_boton_add_linea">
       <!--  <a href="?context={{contexto}}&add_linea=1"><img src="images/anadir-icono-linea.png" height="22" width="22" >Añadir linea</a> -->
            <a href="?context={{contexto}}&add_linea=1" class="glyphicon glyphicon-plus" >Añadir linea </a>

      </div> 

       <div id="div_subir_linea"> <a class="glyphicon glyphicon-arrow-up" onclick="cambia_linea('subir');">Subir linea </a> </div>
       <div id="div_bajar_linea"> <a class="glyphicon glyphicon-arrow-down" onclick="cambia_linea('bajar');">Bajar linea </a> </div>
     
